.main-container {
  border: 3px solid navy;
  height: 100%;
  display: flex;
  flex-direction: row;
  .left-side {
    border-right: 1px solid black;
    width: 30%;
  }
  .right-side {
    width: 70%;
    display: flex;
    flex-direction: column;
    .chat-area {
      height: 90%;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      .message-box {
        margin: 5px;
        width: 100%;
        background-color: aqua;
        border-radius: 5px;
      }
    }
    .chat-input {
      display: flex;
      flex-direction: row;
      height: 10%;
      .text-area {
        border: 1px solid black;
        border-left: none;
        width: 70%;
        font-size: large;
        padding: 0;
        margin: 0;
        height: 100%;
        resize: none;
      }
    }
  }
}
